# --- MaxPatrol VM (Identity Service - порт 3334) ---
# Учетные данные пользователя для получения Access Token
MPVM_USER=
MPVM_PASSWORD=
MPVM_CLIENT_SECRET=

# --- Jira Assets (Insight API) ---
# Персональный токен доступа (Personal Access Token / PAT)
# Генерируется в профиле пользователя Jira
JIRA_TOKENsd=
JIRA_TOKEN=

# --- Jira Общие настройки (опционально) ---
# Если решите вынести URL Jira из кода в окружение
JIRA_URL=
JIRA_BASE_URL=
VULN_CONTACTS=

# --- Jira CMDB ---
#ID атрибутов
JIRA_ATTR_STATUS=
JIRA_ATTR_OWNER=
JIRA_ATTR_RESPONSIBLE=
JIRA_ATTR_IT_SYSTEM=

#test
#JIRA_URL=
#JIRA_TOKENsd=
